body {
  font-family: sans-serif;
}

#main_content {
  width:800px;
  margin:0 auto;
}

header {
  text-align: center;
}

.team {
  width: 49%;
  height: 200px;
  float: left;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
}

.team1 {
  background-color: rgb(187, 10, 10);
  
}

.team2 {
  background-color: rgb(50, 4, 64);
  color: white;
}
